<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="user.css">
</head>
<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-sm-3 col-xs-12">
                            <h4 class="title">Post <span>List</span></h4>
                        </div>
                        <div class="col-sm-9 col-xs-12 text-right">
                            <div class="btn_group">
                                <form th:action="@{/post/add}" method="get">
                                    <button type="button" class="btn btn-default"
                                            onclick="window.location.href='/post/add'">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                    <button type="button" class="btn btn-default" onclick="window.location.href='/menu'"
                                            title="Back">
                                        <i class="fa fa-arrow-left"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Post Content</th>
                            <th>Post Date</th>
                            <th>Number of Likes</th>
                            <th>Number of Comments</th>
                            <th>User ID</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="post : ${post}">
                            <td th:text="${post.postContent}"></td>
                            <td th:text="${post.postDate}"></td>
                            <td th:text="${post.numberLikes}"></td>
                            <td th:text="${post.numberComments}"></td>
                            <td th:text="${post.idUser}"></td>
                            <td>
                                <ul class="action-list">
                                    <li><a th:href="@{/post/edit/{id}(id=${post.id})}"><i
                                            class="fa fa-edit"></i></a></li>
                                    <li><a th:href="@{/post/delete/{id}(id=${post.id})}"><i class="fa fa-trash"></i></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>