<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="user.css">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-sm-3 col-xs-12">
                            <h4 class="title">User <span>List</span></h4>
                        </div>
                        <div class="col-sm-9 col-xs-12 text-right">
                            <div class="btn_group">
                                <form class="search-form" th:action="@{/user/add}" method="get">
                                    <input id="searchInput" type="text" class="form-control" placeholder="Search">
                                    <button type="button" class="btn btn-default" onclick="window.location.href='/user/add'">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                    <button type="button" class="btn btn-default" onclick="window.location.href='/menu'"
                                            title="Back">
                                        <i class="fa fa-arrow-left"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table" id="userTable">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Password</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Date</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${user}">
                            <td th:text="${user.name}"></td>
                            <td>
                                <span id="password" th:text="${user.password}"></span>
                                <script>
                                    var passwordElement = document.getElementById('password');
                                    passwordElement.textContent = '*'.repeat(passwordElement.textContent.length);


                                </script>
                            </td>
                            <td th:text="${user.address}"></td>
                            <td th:text="${user.phone}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.date}"></td>
                            <td>
                                <ul class="action-list">
                                    <li><a th:href="@{/user/edit/{id}(id=${user.id})}"><i
                                            class="fa fa-edit"></i></a></li>
                                    <li><a th:href="@{/user/delete/{id}(id=${user.id})}"><i class="fa fa-trash"></i></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $("#searchInput").on("input", function () {
            var searchText = $(this).val().toLowerCase();
            $("#userTable tbody tr").filter(function () {
                var userName = $(this).find("td:first").text().toLowerCase();
                $(this).toggle(userName.indexOf(searchText) > -1);
            });
        });

        $(".search-form").submit(function (e) {
            e.preventDefault(); // Evita o envio do formulário
            // Adicione aqui o código para tratar a pesquisa quando o formulário for enviado (se necessário).
        });
    });


</script>

</body>
</html>